* {

    margin: 0%;
    box-sizing: border-box;
}

body {

    /* background-color: hsl(192, 100%, 9%); */

    height: 100vh;
    max-width: 100;
}

main {
    width: 100%;
}

.first-background {
    background-image: url("bg-hero-desktop.svg");
    padding: 3em;
    background-color: #E6FAFF;

}

.container1 {
    padding-top: 2em;

}

.logo {
    display: flex;
    flex-direction: row;
    padding-bottom: 3em;
}

.logo p {
    padding-left: 67em;
}

.logo button {

    background-color: white;
    border-radius: 20px;
    padding: 15px;
    border: 0;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.19);


}

.build {
    display: flex;
    width: 100%;
}

.heading {
    padding-right: 2em;
}

.heading h1 {
    padding-top: 11em;
    padding-bottom: 1em;

}

.heading p {
    padding-bottom: 2em;
}

.heading button,
.small-container button {
    background-color: #DD52D6;
    border: 0;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    font-size: 10px;
    color: #FFFFFF;
}

.container {
    padding: 5em;
    padding-top: 7em;
    padding-bottom: 25px;


}


.standard {

    display: flex;
    border-radius: 30px;
    padding: 3em;
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.19);


}

.second {
    padding: 2em;
    padding-left: 4em;
    padding-right: 10em;
}

.other-headings {

    padding-top: 7em;
    padding-bottom: 1em;
    text-align: left;
    flex-direction: row;

}

.image {
    width: 90%;

}

.container3 {
    padding: 5em;
    padding-top: 4px;
    padding-bottom: 25px;

}

.small-container {
    padding-right: 30em;
    padding-left: 30em;
    padding-top: 4em;
}

.last-standard {

    border-radius: 30px;
    width: 70%;
    padding-top: 5em;
    padding-bottom: 1em;
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    z-index: 1000;
    position: absolute;
    margin-left: 14em;
    margin-top: 4em;


}

.last-standard p,
h3 {
    text-align: center;
    padding-bottom: 2em;
}

.last-standard button {
    background-color: #DD52D6;
    border: 0;
    border-radius: 20px;
    align-items: center;
    padding: 15px;
    font-size: 10px;
    color: #FFFFFF;


}

.last-standard button:hover {
    background-color: #d175cc;
}



.footer-items {
    background-color: hsl(192, 100%, 9%);
    position: relative;
    top: 200px;
    padding: 5em;
    padding-top: 8em;


}


.bottom-logo {
    filter: invert(99%) sepia(22%) saturate(1%) hue-rotate(278deg) brightness(109%) contrast(101%);
    width: 120px;
    margin-bottom: 40px;

}

.bottom-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 280px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;

}

.icon {
    padding-right: 10px;
    width: 20px;
}

.first-column {
    display: flex;
    margin-bottom: 15px;
    width: 400px;
    text-align: justify;
    padding-right: 80px;
}



.second-column,
.third-column:hover {
    text-decoration: underline;
}


.fa {
    padding: 7px;
    width: 30px;
    text-decoration: none;
    margin: 0.5px;
    border-radius: 50%;
    border: 50px;
    background: hsl(192, 100%, 9%);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;

}

.fa:hover {
    opacity: 0.5;
    background-color: hsl(322, 100%, 66%);

}


.social p {
    margin-top: 35px;
    width: 250px;

}

.copyright {
    padding-left: 60em;
}

@media screen and(min-width:375px) {
    body {
        width: 100%;
        flex-direction: column;
        align-content: center;
        text-align: center;

    }

    .image {
        width: 50%;
    }

}