* {

    margin: 0%;
    box-sizing: border-box;
}


body {
    height: 100%;


}

main {
    background-color: #FFFFFF;
}

.image {
    width: 80%;
}

.head {
    display: flex;
    margin: 2em;

}

.head button,
.tail button {
    float: right;
    background-color: #FFFFFF;
    border-radius: 2em;
    border: 0;

}

.first {
    padding: 4em;
    background-image: url("bg-hero-desktop.svg");
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;

}

.try-it {
    text-align: right;
}

.left p {
    padding-bottom: 1em;


}

.left h1 {
    padding-bottom: 1em;
    text-align: left;

}


.left button,
.fifth button {
    background-color: hsl(322, 100%, 66%);
    border-radius: 3em;
    border: 0;
    padding: 15px;
    font-size: 10px;
}



.standard {
    padding: 4em;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;

}

.other-headings {
    padding-bottom: 1em;
    text-align: left;

}

.fifth {
    text-align: center;
}

.fifth h3 {

    margin-bottom: 12px;

}

.fifth button {
    background-color: hsl(322, 100%, 66%);
    border-radius: 3em;
    border: 0;
    padding: 15px;
    font-size: 10px;

}

footer {

    background-color: hsl(192, 100%, 9%);
    padding: 4em;
}


.phone,
.email {
    align-items: left;
    display: flex;
    flex-direction: row;

}

.location {
    align-items: left;
    width: 70%;
    d
}

table {
    color: #FFFFFF;
    text-decoration: none;

}

.logo {
    filter: invert(99%) sepia(22%) saturate(1%) hue-rotate(278deg) brightness(109%) contrast(101%);
}

.bottom {

    display: block;
    padding-top: 1em;
    text-align: left;

}

.bottom-icon {
    padding-right: 30px;
}



.fa {
    padding: 8px;
    font-size: 8px;
    width: 15px;
    text-decoration: none;
    margin: 0.5px;
    border-radius: 50%;
    border: 50px;
    background: hsl(192, 100%, 9%);
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.fa:hover {
    opacity: 0.5;
    background-color: hsl(322, 100%, 66%);

}

.paragraph {
    width: 10%,
}

.row2 {
    text-decoration: none;
}

.row2:hover {
    text-decoration: underline;
}

.copy {
    color: #FFFFFF;
    text-align: right;
}

@media screen and(width:375px) {
    main {

        flex-direction: column;
        align-items: center;
    }
}